:root {
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --spacing-xl: 24px;
  --spacing-2xl: 32px;
  --spacing-3xl: 60px;
  --spacing-4xl: 120px;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --line-height: 1.4;
  --white: #ffffff;
  --grey-100: #f2f2f2;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  background: var(--grey-100);
  font-size: 14px;
  font-family: var(--font-family);
}

img {
  max-width: 100%;
}

.container {
  max-width: 365px;
  width: 100%;
  margin: 0 auto;
}

.products {
}

.product-card {
  --product-card-padding: var(--spacing-2xl, 32px);
  --product-card-border-radius: 6px;
  --product-card-button-bg: linear-gradient(180deg, #4c85c6 0%, #2e51a3 100%),
    #2f52a4;
  --product-card-button-text-color: #fff;
  --product-card-button-padding: var(--spacing-m, 12px) var(--spacing-3xl, 60px);
  --product-card-star-color-default: #dddddd;
  --product-card-star-color-checked: #010101;
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--white);
  align-items: center;
  border-radius: var(--product-card-border-radius);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
  overflow: hidden;
}

.product-card__image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 0;
  margin: 0;
  max-width: 400px;
}

.product-card__button {
  position: absolute;
  display: none;
  padding: var(--product-card-button-padding);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  background: var(--product-card-button-bg);
  color: var(--product-card-button-text-color);
  opacity: 0;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--product-card-padding) var(--product-card-padding)
    var(--product-card-padding);
  text-align: center;
  width: 100%;
}

.product-card__content > * {
  margin-bottom: var(--spacing-s, 8px);
}

.product-card__content > *:last-child {
  margin-bottom: 0;
}

.product-card:hover .product-card__button {
  display: flex;
  opacity: 1;
}

.product-card:hover .product-card__image img {
  filter: grayscale(100%);

  opacity: 0.3;
}

.product-card__stars {
  display: flex;
}

.product-card__star {
  margin-right: var(--spacing-xs, 4px);
}
.product-card__star:last-child {
  margin-right: 0;
}

.product-card__star polygon {
  fill: var(--product-card-star-color-default);
}

.product-card__star--checked polygon {
  fill: var(--product-card-star-color-checked);
}
